{% extends 'base.html' %}
{% block content %}


<div>
    <h1>Tell Me A Story🪶</h1>
    <hr />
    <p>
        Sparking a passion for reading from a young age is so important for a child's development, and it's fun!
        
        Children instinctively love books and stories as they are introduced to wonderful ideas, places, and creatures they haven't before encountered.
        
        Through stories children are able to learn more about life, the world, and themselves. Aside from creating a bonding opportunity, there are so many benefits to reading with your child.</p>

        <p>When kids listen to captivating narratives, they train their attention and listening skills. This is probably the most obvious benefit of audio books and stories. Tell Story come with a high-quality voiceover narration that provides for effortless listening. Prompting a child to summarize the plot of the story after listening to it can be a good exercise for developing the child’s memory and understanding of language.</p>
</div>

{% endblock %}

{% comment %} <style>
    div {
      border: 1px solid gray;
      padding: 8px;
    }
    
    h1 {
      text-align: center;
      text-transform: uppercase;
      color: #4CAF50;
    }
    
    p {
      text-indent: 50px;
      text-align: justify;
      letter-spacing: 3px;
    }
    
    a {
      text-decoration: none;
      color: #008CBA;
    }
    </style> {% endcomment %}
